[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
flake8 = "*"
bandit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
coverage = "*"
numpydoc = "*"
matplotlib = "*"
tikzplotlib = "*"
twine = "*"
pipenv_to_requirements = "*"
vertica-python = "*"
verticapy = "*"
kaggle-cli = "*"
pyinstrument = "*"

[packages]
numpy = "*"
pandas = "*"
loguru = "*"
scikit-learn = ">=1.0"
tqdm = "*"
