[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
coverage = "*"
numpydoc = "*"
tikzplotlib = "*"
keras = "*"
twine = "*"
pipenv_to_requirements = "*"

[packages]
numpy = "*"
pandas = "*"
loguru = "*"
scikit-learn = "*"
vertica-python = "*"
verticapy = "*"
